<h4>{{parent_list.label}}</h4>
<form ng-if="tasks">
    <input type="text" ng-model="task_name" placeholder="Ajouter une tâche" />
    <button ng-click="addTask()"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
</form>
<div class="info-alert" ng-repeat="task in tasks | orderBy: 'done'">
    <div class="row">
        <div>
            <input type="checkbox" ng-click="verifyCheck(task)" ng-model="checked" ng-checked="task.done"/>
            <strong>{{task.text}}</strong>
            <button class="blue-btn" ng-class="task.text" ng-click="showInput=true"><i class="fa fa-cog" aria-hidden="true"></i></button>
            <button class="btn trash" ng-click="deleteTask(task)"><i class="fa fa-trash" aria-hidden="true"></i></button>
            <form ng-if="showInput">
                <input type="text" ng-model="new_task_name" ng-value="task.text" />
                <button class="blue-btn" ng-click="modifyTask(task)"><i class="fa fa-check" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
</div>
